<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <ion-card class="sprite ion-text-center">
    <img [src]="randImg" [class.creepy]="isCreepy" alt="sprite">
    <p id="dialogue">{{ dialogue.text }}</p>
  </ion-card>

  <div class="dialogue-container" *ngIf="!showJumpscare">


    <div *ngIf="dialogue.options.length">
      <ion-card *ngFor="let option of dialogue.options" (click)="chooseOption(option)">
        <h3>{{ option.text }}</h3>
      </ion-card>
    </div>


    <br><br>
    <ion-button shape="round" size="large" *ngIf="!dialogue.options.length" (click)="resetDialogue()">
      <ion-icon slot="icon-only" name="reload"></ion-icon>
    </ion-button><br>

  </div>

  <div class="jumpscare-container" *ngIf="showJumpscare">
    <img [src]="jump" alt="Jumpscare" class="jumpscare-image">
  </div>



</ion-content>