<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <p class="ion-text-right"><ion-button size="large" shape="round" id="click-trigger"><ion-icon name="help-circle"></ion-icon></ion-button></p>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-popover trigger="click-trigger" >
    <ng-template>
      <ion-content class="ion-padding">
        Um jogo simples de pedra, papel ou tesoura. <br>
        Cada partida possui 3 rounds. Ao vencer, você ganha 2 moedas.
      </ion-content>
    </ng-template>
  </ion-popover>

  <div class="game-container">
    
    <ion-title class="ion-text-center ion-padding" id="title">JOGO</ion-title>
    <ion-grid>
      <ion-row *ngIf="currentRound <4">
        <ion-col size="9">Round</ion-col>
        <ion-col>{{ currentRound }}/3</ion-col>
      </ion-row>
    </ion-grid>

    <div class="choices">
      <ion-button shape="round" size="large" (click)="playerChoice('Pedra')">
        <ion-icon name="square" size="large"></ion-icon>
      </ion-button>

      <ion-button shape="round" size="large" (click)="playerChoice('Papel')">
        <ion-icon name="document" size="large"></ion-icon>
      </ion-button>

      <ion-button shape="round" size="large" (click)="playerChoice('Tesoura')">
        <ion-icon name="cut" size="large"></ion-icon>
      </ion-button>
    </div>

    <div class="score">

      <ion-grid>
        <ion-row class="ion-justify-content-around">
          <ion-col size="5">
            Você {{ playerScore }}
          </ion-col>
          <ion-col size="2" id="vs"><ion-icon name="trophy"></ion-icon></ion-col>
          <ion-col size="5">
            "Ela" {{ computerScore }}
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

    <ion-card id="ela" *ngIf="message">
      <h3>{{ message }}</h3>
    </ion-card>

  </div>
  <div class="ion-text-center redo">
    <ion-button shape="round" size="large" *ngIf="currentRound > 3" (click)="resetGame()">
      <ion-icon name="reload"></ion-icon>
    </ion-button>
  </div>
</ion-content>