ion-header {
    box-shadow: none;
}

ion-content {
    #title {
        letter-spacing: 5px;
        font-weight: 900;
        font-size: 36px;
    }

    /* src/app/components/card-list/card-list.component.scss */

    


}