ion-header {
    box-shadow: none;
    //border: red solid 1px;  
}

ion-content {

    #title {
        letter-spacing: 5px;
        font-weight: 900;
        font-size: 36px;
    }

    ion-card {
        letter-spacing: 2px;
        //border: red 1px solid;
        border-radius: 25px;

        ion-card-content {
            color: var(--ion-color-primary);
        }
    }

    .custom1 {
        background: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);

        .custom2 {
            color: var(--ion-color-primary-contrast) !important;
        }
    }

}