<ion-content [fullscreen]="true">
  <swiper-container class="ion-text-center" navigation="true" slides-per-view="1" effect="slide" loop="true">
    <swiper-slide>
      <ion-card>
        <img [src]="path1" [routerLink]="route1">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card>
        <img [src]="path2" [routerLink]="route2">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card>
        <img [src]="path3" [routerLink]="route3">
      </ion-card>
    </swiper-slide>
  </swiper-container>
</ion-content>