<ion-grid class="ion-text-center">
  <ion-row class="ion-justify-content-around">
    <ion-col size="4">
      <ion-button routerLink="/food">
        <ion-icon slot="icon-only" name="restaurant-outline"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="4">
      <ion-button routerLink="/health">
        <ion-icon slot="icon-only" name="hardware-chip"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="4">
      <ion-button routerLink="/store">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>