ion-header {
    box-shadow: none;
}

ion-content {
    #title {
        letter-spacing: 5px;
        font-weight: 900;
        font-size: 36px;
    }

    ion-grid {
        padding: 0;

        ion-row {
            box-shadow: 0px 20px 20px grey;

            ion-col {
                border-bottom: black 10px solid;

                p {
                    margin: 2px;
                    color: var(--ion-color-medium-tint);
                    letter-spacing: 1px;
                }

                #bla {
                    color: var(--ion-color-dark);
                }
            }
        }
    }

}