//* {border: red solid 1px;}

ion-header {
    height: auto;
    box-shadow: none;

    ion-toolbar {
        margin: 1.2rem 0 0 0;

        ion-buttons {

            #custom-back-button::part(native) {
                font-size: 4rem;
                margin-left: 0.7rem;
            }
        }

    }

}

.sc-ion-buttons-md-h {
    display: block;
}