ion-header {
    box-shadow: none;

    ion-toolbar {
        --background: var(--ion-color-dark);

        ion-back-button {
            color: var(--ion-color-light);
        }
    }
}

ion-content {
    --background: var(--ion-color-dark);
    --color: var(--ion-color-light-tint);

    h1 {
        perspective: 150px;

        ion-icon {
            margin-top: 20px;
            font-size: 256px;
            animation: aniKey 20s ease 0s infinite normal none;
        }
    }

}

@keyframes aniKey {

    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        transform: translateY(8px);       
    }

    80% {
        transform: translateY(6.4px);
    }

    90% {
        transform: translateY(-6.4px);
        transform: rotateX(351deg) rotateY(340deg);
        transform-style: preserve-3d;
    }
}