ion-header {
    box-shadow: none;
    --background: var(--ion-color-dark);

    ion-toolbar {
        --background: var(--ion-color-dark);
        ion-back-button{
            color: var(--ion-color-light)
        }
    }
}

ion-content {
    --background: var(--ion-color-dark);
    ion-card{
        --background: var(--ion-color-dark);
        height: 70%;
        box-shadow: none;
        img{
            width: 100%;
        }
    }

    .button {

        ion-button {
            padding: 0;
            margin: 0;
            --border-radius: 100%;
            --background: var(--ion-color-primary);

            ion-icon {
                padding: 20px;
                font-size: 64px;
                padding: 20px;
            }
        }
    }


}